<div class="services-container">
<div id="banner" class="text-center">
  <div class="header-container">
    <%= render 'shared/header' %>
  </div>
  <div class="row" id="banner-row">
    <div class="col-twelve" id="banner-col-twelve">
      <h5>Hello, world</h5>
      <h1 class="banner-heading">I'm Juan Pablo Portillo.</h1>
      <p class="intro-position">
        <span>FULL-STACK DEVELOPER</span>
      </p>
    </div>
  </div>
</div>

  <section class="services container">
    <h2 class="text-center">Services</h2>
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-3">
          <div class="table table-danger">
            <h5 class="category-social">
              <i class="fa fa-newspaper-o"></i> News
            </h5>
            <h4 class="card-caption">
              <a href="#">"Consectetur odio feugiat"</a>
            </h4>
            <p class="card-description"> Lorem ipsum dolor sit amet, consectetur adipis cingelit. Etiam lacinia elit et placerat finibus.</p>
            <div class="ftr text-center"> <a href="#" class="btn btn-white btn-round">Read More</a> </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-3">
          <div class="table table-danger">
            <h5 class="category-social">
              <i class="fa fa-newspaper-o"></i> News
            </h5>
            <h4 class="card-caption">
              <a href="#">"Consectetur odio feugiat"</a>
            </h4>
            <p class="card-description"> Lorem ipsum dolor sit amet, consectetur adipis cingelit. Etiam lacinia elit et placerat finibus.</p>
            <div class="ftr text-center"> <a href="#" class="btn btn-white btn-round">Read More</a> </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="contact-container">
    <div class="form-container">
      <form class="form">
        <div class="form-group">
          <label for="email">Company Email</label>
          <input required="" name="email" id="email" type="text">
        </div>
        <div class="form-group">
          <label for="textarea">How Can We Help You?</label>
          <textarea required="" cols="50" rows="10" id="textarea" name="textarea">          </textarea>
        </div>
        <button type="submit" class="form-submit-btn">Submit</button>
      </form>
    </div>
  </section>

<%= render 'shared/footer' %>
</div>
