<div id="banner" class="text-center">
  <div class="header-container">
    <%= render 'shared/header' %>
  </div>
  <div class="row" id="banner-row">
    <div class="col-twelve" id="banner-col-twelve">
      <h5>Hello, world</h5>
      <h1 class="banner-heading">I'm Juan Pablo Portillo.</h1>
      <p class="intro-position">
        <span>FULL-STACK DEVELOPER</span>
      </p>
    </div>
  </div>
</div>

<section class="services container">
  <h2 class="text-center">Services</h2>
  <div class="row">
    <div class="col-md-6">
      <div class="card mb-3">
        <div class="table table-danger">
          <h5 class="category-social">
            <i class="fa fa-newspaper-o"></i> News
          </h5>
          <h4 class="card-caption">
            <a href="#">"Consectetur odio feugiat"</a>
          </h4>
          <p class="card-description"> Lorem ipsum dolor sit amet, consectetur adipis cingelit. Etiam lacinia elit et placerat finibus.</p>
          <div class="ftr text-center"> <a href="#" class="btn btn-white btn-round">Read More</a> </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mb-3">
        <div class="table table-danger">
          <h5 class="category-social">
            <i class="fa fa-newspaper-o"></i> News
          </h5>
          <h4 class="card-caption">
            <a href="#">"Consectetur odio feugiat"</a>
          </h4>
          <p class="card-description"> Lorem ipsum dolor sit amet, consectetur adipis cingelit. Etiam lacinia elit et placerat finibus.</p>
          <div class="ftr text-center"> <a href="#" class="btn btn-white btn-round">Read More</a> </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="contact container">
  <h2>Contact Us</h2>
  <form action="/path/to/your/server/endpoint" method="POST">
    <div class="form-group">
        <input type="text" class="form-control" name="email" placeholder="Email">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="phone" placeholder="Phone">
    </div>
    <div class="form-group">
        <textarea class="form-control" name="message" placeholder="Your Message"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
  </form>
</section>
<%= render 'shared/footer' %>
